@font-face {
    font-family: big;
    src: url(gotcha.ttf);
}

@font-face {
    font-family: medium;
    src: url(hikou.otf);
}

@font-face {
    font-family: small;
    src: url(glacial.otf);
}

@font-face {
    font-family: oh;
    src: url(asphalt.otf);
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  font-family: small;
    background-image: url(../assets/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*NAV HOVER*/

.svg-wrapper {
  height: 60px;
  margin: auto;
  margin-top: 3em;
  position: relative;
  width: 250px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 50 450;
  stroke-dashoffset: 50;
  stroke-width: 5px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-size: 1.8em;
  letter-spacing: 5px;
  line-height: 32px;
  position: relative;
  top: -55px;
  margin-left: 1em;
  font-family: medium;
}

@keyframes draw {
  0% {
    stroke-dasharray: 50 450;
    stroke-dashoffset: 50;
    stroke-width: 5px;
  }
  100% {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/*SIDE NAVBAR*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: hidden;
    background: #000;
    background-image: url(../assets/bg.png);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
}

.container-fluid {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 2em;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 10em;
    width: 10em;
    margin: auto;
    font-size: 18px;
    line-height: 60px;
    display: table;
}

#home {
  text-align: center;
  margin: auto;
  color: black;
  font-size: 5em;
  text-indent: 0;
  font-family: big;
  letter-spacing: 0.2em;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

#home:hover {
  color: #777;
  transition: color 0.5s ease;
}

/*LANDING PAGE*/

#landing {
  height: 100vh;
  min-height: 780px;
  color: white;
  padding: 2em;
}

#landing-content {
  height: 100%;
  width: 100%;
  min-width: 500px;
  background-color: #111;
  padding-left: 10em;
}

h2 {
  font-family: oh;
  font-size: 10em;
  padding-top: 1em;
}

h3 {
  font-family: small;
  font-size: 2em;
  padding: 1em 0;
  margin: 0;
}

h4 {
  font-family: small;
  font-size: 2em;
  padding-bottom: 2em;
  margin: 0;
}

.explore {
  border-radius: 0;
  font-size: 2em;
  width: 7em;
  border: solid 0.1em white;
  background-color: transparent;
  color: white;
}

.explore:hover {
  background-color: white;
  color: #222;
  border-color: white;
}


/*PROJECTS*/

.project {
  padding: 0;
  height: 33.3vh;
  min-height: 150px;
}

.thumbnail {
  width: 100%;
  height: 33.3vh;
  min-height: 150px;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.thumbnail > img {
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
}

.thumbnail:hover .overlay{
  opacity: 1;
}

.caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.caption p {
  color: white;
}

.caption-title {
 font-size: 2.5em;
 font-family: medium;
 letter-spacing: 0.3em;
}

.caption-techs {
  font-size: 1.25em;
  word-spacing: 0.5em;
}

/*ABOUT*/

h1 {
  font-size: 7em;
  margin-bottom: 0.3em;
  font-family: big;
  letter-spacing: 0.2em;
}

#about {
  height: 100vh;
  min-height: 780px;
  color: white;
}

#left {
  height: 100%;
  padding: 2em;
}

#left-content {
  height: 100%;
  background-color: #111;
  padding: 3em;
}

#left-content > p {
  font-size: 1.5em;
}

#right {
  height: 100%;
  padding: 1em;
  padding-left: 0;
}

#right-top {
  height: 60%;
  padding: 1em;

}

#right-top-content {
  height: 100%;
  background-image: url(../assets/bg.png);
  background-size: cover;
}

.devicon {
  font-size: 5em;
  text-align: center;
  margin-top: 0.1em;
}

#right-bottom {
  height: 40%;
  padding: 1em;
}

#right-bottom-content {
  height: 100%;
  background-image: url(../assets/me.png);
  background-size: contain;
}

/*CONTACT*/

#contact {
  height: 100vh;
  min-height: 780px;
}

#contact > div {
  padding: 2em;
  height: 100%;
}

#contact-content {
  height: 100%;
  padding: 3em;
  color: white;
  background-color: #111;
}

#contact-content > p {
  font-size: 2em;
  margin-top: 1em;
}

.icons {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 4em;
  margin-bottom: 4em;
}

.icons > li {
  display: inline;
  margin-right: 3em;
}

.icons > li > a {
  text-decoration: none;
  color: white;
}

.icons > li > a:hover {
  color: #777;
  transition: color 0.5s ease;
}

.modal-content {
  padding: 2em;
  width: 80vw;
  margin: 1em auto;
}

.modal-content > img {
  width: 100%;
}

.cv {
  border-radius: 0;
  font-size: 2em;
  width: 7em;
  border: solid 0.1em white;
  background-color: transparent;
  color: white;
}

.cv:hover {
  background-color: white;
  color: #222;
  border-color: white;
}

@media(min-width:992px) {

  #wrapper {
      padding-left: 250px;
  }

  #sidebar-wrapper {
      width: 250px;
  }

  #page-content-wrapper {
      padding: 0;
      position: relative;
  }
}
